__pycache__/
*.egg-info/
*.spec
*.log
*.db
*.sqlite
*.pypackage
*.egg
*.py[co]
*.mo
.DS_Store
.env
.env.example
local_settings.py
instance
.mypy_cache
.tox
.venv
venv
.eggs
.nox
.coverage
.cache
nosetests.xml
coverage.xml
*.pot
*.mo
*.po
