{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/common.css' %}">
        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
        <title>LOLpy</title>
    </head>
    <body>
        <header id="page_header">
            <img id="logo" src="{% static 'images/assets/LOL.png' %}" alt="LOLpy logo">
            <h1>LOLpy</h1>
        </header>
        <main>
            <div id="content">
                <h2 id="content_header">Welcome to LOLpy</h2>
                <p>LOLpy is a web application that allows you to get information about League of Legends champions.</p>
                <p>Check out the champions page to get started!</p>
                <a href="/champions">Champions</a>
            </div>
        </main>
    </body>
</html>